@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*common CSS*/
:root {
  --grey: #717171;
  --dark-grey: #212121;
  --light-grey: #f1f1f1;
  --border-color: #b0b0b0;
  --btn-color: #d23759;
  --text-color:#222222;
  --black:#000;
  --white:#fff;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--text-color);
}

a {
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 600;
}

li {
  list-style: none;
}

h1 {
  font-size: 26px;
  font-weight: 500;
}
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.align-content {
  align-content: center;
}

.space-between {
  justify-content: space-between;
}

span {
  font-weight: 600;
}
.flex-direction {
  flex-direction: column;
}
/* gallery section */
.gallery{
    max-width: calc(100% - 400px);
    margin: auto;
    margin-top: 100px;
}
.responsive{
  display: none;
}
.gallery-links{
    margin-top: 8px;
}
.gallery-right-links{
    gap: 20px;
}
.save i{
    margin-right: 8px;
}
.share i{
  margin-right: 8px;
}
.photo_gallery_container{
    margin-top: 24px;
    height: 350px;
}
.photo_gallery{
  position: relative;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 8px;
}
.view-all{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.button{
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid var(--dark-grey);
  font-weight: 600;
  display: flex;
  gap: 5px;
  background-color: var(--white);
}
.view-all a{
  text-decoration: none;
}
.photo_gallery > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-1{
border-radius: 10px 0 0 10px;
grid-row-start: 1;
grid-row-end: 3;
}
.image-3{
  border-radius: 0 10px 0 0;
}
.image-5{
  border-radius: 0 0 10px 0;
}
.bottom_title{
  margin-top: 50px;
}
.bottom_title-heading ul{
  gap: 5px;
}
.bottom_title-icon img{
  width: 20%;
  height: 30%;
}
li span{
  font-weight: 300;
}
.bottom_title-icon {
  width: 20%;
  height: 30%;
}
.bottom_title-icon img{
  width: 20%;
  height: 30%;
}
.bottom_title{
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.bottom_title-heading .gallery-title{
  font-size: 22px;
  font-weight: 500;
}
.bottom_title-icon img{
 width: 56px;
}
.photo_gallery img:hover{
  cursor: pointer;
  background: var(--black 0.5);
  opacity: 0.5;
  transition: ease-in-out 2s;
}
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 760px){
  .gallery{
    max-width: 100%;
  }
  .view-all{
    display: none;
  }
  .gallery h3{
    padding:0  20px ;
    width: 80%;
  }
  .gallery-links{
    padding: 0 20px;
    width: 100%;
  }
  .photo_gallery{
    grid-template-columns: 100%;
  }
  .photo_gallery img{
    border-radius: 0;
  }
 
  .bottom-title-heading{
    width: 100%;
  }
  .bottom-title-icon{
    display: none;
  }
}